---
---
<div class="flex justify-between px-10 py-10">
    <p class="inter-uniquifier md:text-[20px] flex">landscape <br>display font</p>
    <p class="inter-uniquifier md:text-[20px] flex text-end">lavet af <br>frederikke kjelstrup</p>
</div>

<style>
    p{
        color: #CAEBBA;
        font-weight: bold;
        text-transform: uppercase;
    }
</style>
  