---
---
<div class="flex justify-end px-10 py-10 gap-12">
    <a href="#om" class="inter-uniquifier">om landscape</a>
    <a href="#proces" class="inter-uniquifier">proces</a>
</div>

<style>
    a{
        color: #CAEBBA;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
    }
</style>
